* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

@font-face {
  font-family: cyber;
  src: url("./fonts/Cyberpunk.otf");
}

::selection {
  background: #defe47;
}

body {
  background: #defe47;
  mix-blend-mode: darken;
}

.container {
  max-width: 2000px;
  height: auto;
  padding: 1rem;
  margin: auto;
  
}

.countDownTitle {
  text-align: center;
  font-size: 10rem;
  font-family: cyber;
  text-shadow: 1px 3px 13px #688cdf;
  letter-spacing: 30px;
}

.countDown {
  text-align: center;
  font-size: 4rem;
  font-family: cyber;
  letter-spacing: 30px;
  margin-top: -70px;
  color:#202020;
 }

.mainImg {
  max-width: 600px;
  height: 900px;
  position: absolute;
  bottom: 0;
  left: -70px;
  z-index: -1;
  opacity: 0.3;
}

 
@media only screen and (max-width:600px){
 .countDownTitle{
  font-size:2rem;
 }
 .countDown{
  font-size:3rem;
  margin-top:30px;
  letter-spacing: .2rem;
 }

 .mainImg{
  display: none;
 }
}

