$fourthFontFamily: sans serif;
$mainFontFamily: "Kanit", $fourthFontFamily;
$secondaryFontFamily: "Montserrat", $fourthFontFamily;
$thirdFontFamily: "Mukta", $fourthFontFamily;

$mainFontColor: #5555b9;
$secondaryFontColor: #585861;
$thirdFontColor: #8888e6;
$white: #fafafa;
