@import "./animations";
@import "./functions";
@import "./variables";

body {
  background: url("/src/images/bgImage.png") fixed center;
}

.container-sm {
  background-color: transparent;

  .header {
    background: $white;
    margin: auto;
    box-shadow: inset -1px 10px 20px #b8b4b45b,
                inset 1px 10px 20px #b8b4b48f;
    @include flex;

    .title {
      line-height: 40px;
      letter-spacing: -2px;
      animation: popUpTitle 1s linear;
      @include font-size("title");
    }

    .subtitle {
      letter-spacing: 2px;
      line-height: 1em;
      @include font-size("subtitle");
    }

    .code-icon {
      text-align: center;
      margin: auto;
      color: $mainFontColor;
      font-size: 2em;
      margin-top: 20px;
    }
  }

  .survey-body {
    background-color: #fffffff6;
    padding: 10px 10px 10px 15px;

    form {
      .titleForm {
        @include font-size(title);
      }
      .mainInfoBox {
        width: 85%;
      }
      input,
      select,
      textarea {
        border-radius: 10px;
        padding-left: 5px;
        border: 0;
        outline: $mainFontColor;
        width: 100%;
        box-shadow: inset 1px 1px 10px #8080808e;
      }
      label {
        @include font-size(label);
      }
      textarea {
        padding: 10px;
        text-align: center;
      }
      label {
        color: $mainFontColor;
        font-weight: 600;
        cursor: pointer;
      }

      button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: $mainFontColor;
        box-shadow: inset 1px -6px 1px lighten($mainFontColor, 14%);
        border-radius: 10px;
        @include flex;
        flex-direction:row;
        transition: 0.1s linear;
        @include font-size("subtitle");
        color: $white;

        &:hover {
          transform: scale(1.01);
          transition: 0.1s linear;
        }

        i {
          font-size: 24px;
          margin-right: 10px;
        }

      }
      .checkBoxArea {
        width: 140px;
        
        input[type="checkbox"] {
          width: 30px;
          box-shadow: none;
        }

        #backEnd {
          margin-left: -0px;
        }
        #frontEnd {
          margin-left: -4px;
        }
        #fullStack {
          margin-left: 2px;
        }
      
      }
    }
  }
}




@media only screen and (min-width: 760px) {
  body {
    background: transparent;
    font-size: 1.7em;
  }

  .container-sm {
    box-shadow: inset 1px 1px 20px $white;

    .header {
      box-shadow: inset 1px 1px 5px #a2a2a31c;
      background: $white;

      .title {
        margin-bottom: 20px;
      }
      .subtitle {
        letter-spacing: 5px;
      }
    }

    .survey-body {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        .titleForm {
          text-align: center;
          margin-bottom: 50px;
          border-bottom: 1px solid #d6d4d49d;
          color: lighten($mainFontColor, 5%);
        }

        .mainInfoBox {
          width: 60%;
        }

        .checkBoxArea {
          width: 30%;
          input {
            width: 50px;
          }
          #backEnd {
            margin-left: 4px;
          }
          #frontEnd {
            margin-left: -4px;
          }
          #fullStack {
            margin-left: 4px;
          }
        }
        input,
        select {
          color: $secondaryFontColor;
          border-radius: 10px;
          padding-left: 5px;
          border: 0;
          width: 100%;
          box-shadow: inset 10px 10px 10px #80808023;
        }
      }
    }
  }
}

#thanks {
  @include font-size(title);
}
